ASSCMO_INSTANCE_NAME=ass-cmo.example.com
ASSCMO_BASE_URL=https://ass-cmo.example.com
ASSCMO_ADMINER_URL=https://adminer.example.com/
ASSCMO_TLS_CERT_NAME=example.com
ASSCMO_ENROLLMENT_PEPPER=REPLACE_ME_RANDOM_ENROLLMENT_PEPPER
ASSCMO_ENROLLMENT_APPROVE_TOKEN=REPLACE_ME_RANDOM_ENROLLMENT_APPROVE_TOKEN

# core
POSTGRES_DB=inventory_db
POSTGRES_USER=asscmo
POSTGRES_PASSWORD=changeme
POSTGRES_DASHBOARD_USER=ass_dashboarder
POSTGRES_DASHBOARD_PASSWORD=changeme

# dashboard
ASSCMO_DASHBOARD_SSH_USER=
ASSCMO_ASSWEB_PROTOCOL=false
